<section>
  <h1>Find Us On:</h1>
  <ul id="recent_posts">
      <li class="post">
        <a href="http://www.facebook.com/PHXTagSoup">FaceBook</a>
      </li>
      <li class="post">
        <a href="https://twitter.com/#!/phxtagsoup">Twitter</a>
      </li>
      <li class="post">
        <a href="https://github.com/TagSoup/tagsoup.github.com">github</a>
      </li>
      <li class="post">
        <a href="https://groups.google.com/forum/?fromgroups#!forum/phx-tag-soup">google groups</a>
      </li>
      <li class="post">
        <a href="http://www.youtube.com/phxtagsoup">youTube</a>
      </li>
  </ul>
</section>